* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    height: auto;
    width: 70%;
    margin: 10px auto;
    padding: 15px;
    border: 1px solid black;
    background-color: palevioletred;
}

header h1 {
    width: 100%;
    margin: 5px;
    text-align: center;
    font-size: 18px;
}

main {
    margin: 10px;
    padding: 10px;
    text-align: justify;
    border: 1px solid black;
    color: tomato;
}